* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #454d55;
}

header {
    height: 90px;
    background: #444d55;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 8.5%;
}

.logo {
    display: flex;
    align-items: center;
    color: white;
    font-size: 32px;
    font-weight: bold;
    font-style: italic;
}

.logo-icon {
    width: 58px;
    height: 58px;

    border: 3px solid #55c0e8;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    background: white;
    margin-right: 10px;

    font-size: 27px;
    font-style: normal;
}

.dot {
    font-size: 10px;
    vertical-align: top;
}

nav {
    display: flex;
    align-items: center;
    gap: 12px;
}

nav a {
    text-decoration: none;
    font-size: 14px;
    padding: 10px 18px;
    border-radius: 5px;
    transition: 0.3s;
}


.btn-login {
    color: white;
    border: 1px solid rgb(87,145,233);
    background-color: rgb(87,145,233);
}

.btn-cadastrar {
    color: white;
    background: rgb(87,145,233);
    border: 1px solid rgb(87,145,233);
}



.hero h1 {
    font-size: 38px;
    line-height: 1.15;
    font-weight: bold;
    color: #454d55;
}

.hero p {
    font-size: 16px;
    line-height: 1.45;
    color: #555e66;
    max-width: 850px;
}


.hero-content {
    position: relative;
    z-index: 2;

    width: 70%;
    max-width: 1000px;
    height: 100%;

    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
align-items: center;

text-align: center;
}

.hero h1 {
    font-size: 40px;
    line-height: 1.15;
    font-weight: bold;
color: #454d55;
}

.line {
width: 120px;
height: 2px;
background: #454d55;
margin: 24px 0 18px;
}

.hero p {
font-size: 17px;
line-height: 1.35;
color: #555e66;
max-width: 850px;
}
